# top-most EditorConfig file, do not look any further!
root = true

# General settings for all files
[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
trim_trailing_whitespace = true

# 4 space indentation
[*.{py,rs,rb,rex,txt,vim,xml,frag,vert}]
indent_style = space
indent_size = 4

# 2 space indentation
[*.{c,cpp,tex,cl,h,hpp,pde,ino}]
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[{Makefile,*.java}]
indent_style = tab
