# top-most EditorConfig file, do not look any further!
root = true

# General settings for all files
[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
trim_trailing_whitespace = true
tab_width = 4
indent_size = tab

# 4 space indentation
[*.{js,rs,rex,txt,vim,frag,vert,sh}]
indent_style = space
indent_size = 4

# 2 space indentation
[*.{erl,c,rb,erb,cpp,tex,bib,cl,h,hpp,pde,ino,wiki,enc}]
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[{M,m}akefile,*.{py,xml,html,java,R}]
indent_style = tab
